@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: #f9fafb;
}

/* Container Styles */
.pokedex-container {
  min-height: 100vh;
}

/* Top Section */
.top-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.top-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .top-grid {
    grid-template-columns: 1fr;
  }
}

/* Middle Section */
.middle-section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.middle-grid {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 1fr;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .middle-grid {
    grid-template-columns: 1fr;
  }
}
